In [244]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
import csv

# User Comparison

### Import Raw Data

In [245]:
# Import User List
file = r"C:\Users\absen\Documents\ETL-Project\Raw-Data\UserList.csv"

# Read File to Pandas
userlist_raw = pd.read_csv(file)

# Read File into DataFrame
userlist_raw = pd.DataFrame(userlist_raw)

# Display Data
userlist_raw.head()

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes
0,karthiga,2255153,3,49,1,0,0,55.31,Female,"Chennai, India",1990-04-29,NaN,2013-03-03,2014-02-04 01:32:00,7.43,0.0,3391.0
1,RedvelvetDaisuki,1897606,61,396,39,0,206,118.07,Female,Manila,1995-01-01,NaN,2012-12-13,1900-05-13 02:47:00,6.78,80.0,7094.0
2,Damonashu,37326,45,195,27,25,59,83.70,Male,"Detroit,Michigan",1991-08-01,NaN,2008-02-13,1900-03-24 12:48:00,6.15,6.0,4936.0
3,bskai,228342,25,414,2,5,11,167.16,Male,"Nayarit, Mexico",1990-12-14,NaN,2009-08-31,2014-05-12 16:35:00,8.27,1.0,10081.0
4,shuzzable,2347781,36,72,16,2,25,35.48,NaN,NaN,NaN,NaN,2013-03-25,2015-09-09 21:54:00,9.06,7.0,2154.0

### Create Master User Table

In [246]:
# Create Master User Table
master_user_table = userlist_raw.loc[:, ["user_id","username","user_watching","user_completed",
                                         "user_days_spent_watching","gender","stats_episodes"]].dropna()

# Display Table
master_user_table.head()

,user_id,username,user_watching,user_completed,user_days_spent_watching,gender,stats_episodes
0,2255153,karthiga,3,49,55.31,Female,3391.0
1,1897606,RedvelvetDaisuki,61,396,118.07,Female,7094.0
2,37326,Damonashu,45,195,83.70,Male,4936.0
3,228342,bskai,25,414,167.16,Male,10081.0
5,327311,terune_uzumaki,5,5,15.20,Female,920.0

### Create Gender Master Tables

In [247]:
# Create Male Watcher Table
male_userdata = master_user_table.loc[master_user_table.gender == 'Male']

# Display Data
male_userdata.head()

,user_id,username,user_watching,user_completed,user_days_spent_watching,gender,stats_episodes
2,37326,Damonashu,45,195,83.70,Male,4936.0
3,228342,bskai,25,414,167.16,Male,10081.0
6,5015094,Bas_G,35,114,30.81,Male,1847.0
9,102436,sprite1989,2583,102,30.86,Male,1829.0
10,28328,thetreedude,11,703,206.68,Male,12458.0

In [248]:
# Create Female Water Table
female_userdata = master_user_table.loc[master_user_table.gender == 'Female']

# Display Data
female_userdata.head()

,user_id,username,user_watching,user_completed,user_days_spent_watching,gender,stats_episodes
0,2255153,karthiga,3,49,55.31,Female,3391.0
1,1897606,RedvelvetDaisuki,61,396,118.07,Female,7094.0
5,327311,terune_uzumaki,5,5,15.20,Female,920.0
12,3129315,HimeAria,2,87,20.12,Female,1314.0
17,2485327,MistButterfly,66,3923,614.96,Female,39893.0

In [249]:
# Create Non-Binary Watcher Table
non_binary_userdata = master_user_table.loc[master_user_table.gender == 'Non-Binary']

# Display Data
non_binary_userdata.head()

,user_id,username,user_watching,user_completed,user_days_spent_watching,gender,stats_episodes
221,300808,kendolli,33,217,82.87,Non-Binary,4849.0
489,620011,Myrmidon83,2,209,50.20,Non-Binary,3040.0
737,3936989,AwasakiYumi,8,76,26.91,Non-Binary,1637.0
1241,4669393,Ketsukos,14,263,186.97,Non-Binary,12017.0
1829,6023468,Zakew,2,33,10.58,Non-Binary,633.0

### Gender Statistics

In [293]:
# Create User Count
user_count = master_user_table['user_id'].count()

# Create Total Days Watched
user_days_watched = master_user_table['user_days_spent_watching'].sum()

# Create Total Episodes Watched
user_episodes_watched = master_user_table['stats_episodes'].sum()

In [294]:
# Create Male Count
male_count = male_userdata['user_id'].count()

# Create Percentage Male
male_percent = ((male_count / user_count) * 100).round(2)

# Create total Days Watching Male
male_days = male_userdata['user_days_spent_watching'].sum()

# Create Percentage total Days Watching Male
male_days_percent = ((male_days / user_days_watched) * 100).round(2)

# Create Total Episodes Watched Male
male_episodes_watched = male_userdata['stats_episodes'].sum()

# Create Percentage Total Episodes Watched Male
male_episodes_percent = ((male_episodes_watched / user_episodes_watched) * 100).round(2)

In [295]:
# Create Female Count
female_count = female_userdata['user_id'].count()

# Create Percentage Female
female_percent = ((female_count / user_count) * 100).round(2)

# Create Total Days Watching Female
female_days = female_userdata['user_days_spent_watching'].sum()

# Create Percentage Total Days Watching Female
female_days_percent = ((female_days / user_days_watched) * 100).round(2)

# Create Total Episodes Watched Female
female_episodes_watched = female_userdata['stats_episodes'].sum()

# Create Percentage Total Days Watching Female
female_episodes_percent = ((female_episodes_watched / user_episodes_watched) * 100).round(2)

In [299]:
# Create Non-Binary Count
non_binary_count = non_binary_userdata['user_id'].count()

# Create Percentage Non-Binary
non_binary_percent = ((non_binary_count / user_count) * 100).round(2)

# Create Total Days Watching Non-Binary
non_binary_days = non_binary_userdata['user_days_spent_watching'].sum()

# Create Percentage Total Days Watching Non-Binary
non_binary_days_percentage = ((non_binary_days / user_days_watched) * 100).round(2)

# Create Total Episodes Watched Non-Binary
non_binary_episodes_watched = non_binary_userdata['stats_episodes'].sum()

# Create Percentage Total Episodes Watched Non-Binary
non_binary_episodes_percentage = ((non_binary_episodes_watched / user_episodes_watched) * 100).round(2)

In [304]:
# Create Gender Statistics Table
index = ["Male", "Female", "Non_Binary"]

gender_statistics = [
    {
        'user_count':male_count,
        'user_percent':male_percent,
        'days_watched':male_days,
        'percent_of_days_watched':male_days_percent,
        'total_episodes_watched':male_episodes_watched,
        'total_episodes_percent':male_episodes_percent        
    },
    {
        'user_count':female_count,
        'user_percent':female_percent,
        'days_watched':female_days,
        'percent_of_days_watched':female_days_percent,
        'total_episodes_watched':female_episodes_watched,
        'total_episodes_percent':female_episodes_percent
    },
    {
        'user_count':non_binary_count,
        'user_percent':non_binary_percent,
        'days_watched':non_binary_days,
        'percent_of_days_watched':non_binary_days_percentage,
        'total_episodes_watched':non_binary_episodes_watched,
        'total_episodes_percent':non_binary_episodes_percentage 
    }
]

gender_statistics = pd.DataFrame(gender_statistics, index=index)

gender_statistics

,user_count,user_percent,days_watched,percent_of_days_watched,total_episodes_watched,total_episodes_percent
Male,135180,62.07,12931604.21,75.04,949792696.0,77.70
Female,81374,37.36,4197862.11,24.36,265340842.0,21.71
Non_Binary,1245,0.57,102767.53,0.60,7296834.0,0.60

# Anime Comparison

In [253]:
# Import User List
file = r"C:\Users\absen\Documents\ETL-Project\Raw-Data\AnimeList.csv"

# Read File to Pandas
animelist_raw = pd.read_csv(file)

# Read File into DataFrame
animelist_raw = pd.DataFrame(animelist_raw)

# Display Data
animelist_raw.head()

,anime_id,title,title_english,title_japanese,title_synonyms,image_url,type,source,episodes,status,...,background,premiered,broadcast,related,producer,licensor,studio,genre,opening_theme,ending_theme
0,11013,Inu x Boku SS,Inu X Boku Secret Service,妖狐×僕SS,Youko x Boku SS,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,12,Finished Airing,...,Inu x Boku SS was licensed by Sentai Filmworks...,Winter 2012,Fridays at Unknown,"{'Adaptation': [{'mal_id': 17207, 'type': 'man...","Aniplex, Square Enix, Mainichi Broadcasting Sy...",Sentai Filmworks,David Production,"Comedy, Supernatural, Romance, Shounen","['""Nirvana"" by MUCC']","['#1: ""Nirvana"" by MUCC (eps 1, 11-12)', '#2: ..."
1,2104,Seto no Hanayome,My Bride is a Mermaid,瀬戸の花嫁,The Inland Sea Bride,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,26,Finished Airing,...,NaN,Spring 2007,Unknown,"{'Adaptation': [{'mal_id': 759, 'type': 'manga...","TV Tokyo, AIC, Square Enix, Sotsu",Funimation,Gonzo,"Comedy, Parody, Romance, School, Shounen","['""Romantic summer"" by SUN&LUNAR']","['#1: ""Ashita e no Hikari (明日への光)"" by Asuka Hi..."
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,しゅごキャラ！！どきっ,"Shugo Chara Ninenme, Shugo Chara! Second Year",https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,51,Finished Airing,...,NaN,Fall 2008,Unknown,"{'Adaptation': [{'mal_id': 101, 'type': 'manga...","TV Tokyo, Sotsu",NaN,Satelight,"Comedy, Magic, School, Shoujo","['#1: ""Minna no Tamago (みんなのたまご)"" by Shugo Cha...","['#1: ""Rottara Rottara (ロッタラ ロッタラ)"" by Buono! ..."
3,721,Princess Tutu,Princess Tutu,プリンセスチュチュ,NaN,https://myanimelist.cdn-dena.com/images/anime/...,TV,Original,38,Finished Airing,...,Princess Tutu aired in two parts. The first pa...,Summer 2002,Fridays at Unknown,"{'Adaptation': [{'mal_id': 1581, 'type': 'mang...","Memory-Tech, GANSIS, Marvelous AQL",ADV Films,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy","['""Morning Grace"" by Ritsuko Okazaki']","['""Watashi No Ai Wa Chiisaikeredo"" by Ritsuko ..."
4,12365,Bakuman. 3rd Season,Bakuman.,バクマン。,Bakuman Season 3,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,25,Finished Airing,...,NaN,Fall 2012,Unknown,"{'Adaptation': [{'mal_id': 9711, 'type': 'mang...","NHK, Shueisha",NaN,J.C.Staff,"Comedy, Drama, Romance, Shounen","['#1: ""Moshimo no Hanashi (もしもの話)"" by nano.RIP...","['#1: ""Pride on Everyday"" by Sphere (eps 1-13)..."

### Master Anime Table

In [254]:
# Create Master Anime Table
master_anime_table = animelist_raw.loc[:, ["anime_id","title","title_english","title_japanese",
                                          "title_synonyms","type", "source", "episodes",
                                           "status","premiered","producer","licensor",
                                           "studio","genre","score","scored_by","rank"]]

# Display Table
master_anime_table.head()

,anime_id,title,title_english,title_japanese,title_synonyms,type,source,episodes,status,premiered,producer,licensor,studio,genre,score,scored_by,rank
0,11013,Inu x Boku SS,Inu X Boku Secret Service,妖狐×僕SS,Youko x Boku SS,TV,Manga,12,Finished Airing,Winter 2012,"Aniplex, Square Enix, Mainichi Broadcasting Sy...",Sentai Filmworks,David Production,"Comedy, Supernatural, Romance, Shounen",7.63,139250,1274.0
1,2104,Seto no Hanayome,My Bride is a Mermaid,瀬戸の花嫁,The Inland Sea Bride,TV,Manga,26,Finished Airing,Spring 2007,"TV Tokyo, AIC, Square Enix, Sotsu",Funimation,Gonzo,"Comedy, Parody, Romance, School, Shounen",7.89,91206,727.0
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,しゅごキャラ！！どきっ,"Shugo Chara Ninenme, Shugo Chara! Second Year",TV,Manga,51,Finished Airing,Fall 2008,"TV Tokyo, Sotsu",NaN,Satelight,"Comedy, Magic, School, Shoujo",7.55,37129,1508.0
3,721,Princess Tutu,Princess Tutu,プリンセスチュチュ,NaN,TV,Original,38,Finished Airing,Summer 2002,"Memory-Tech, GANSIS, Marvelous AQL",ADV Films,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy",8.21,36501,307.0
4,12365,Bakuman. 3rd Season,Bakuman.,バクマン。,Bakuman Season 3,TV,Manga,25,Finished Airing,Fall 2012,"NHK, Shueisha",NaN,J.C.Staff,"Comedy, Drama, Romance, Shounen",8.67,107767,50.0

### Anime Based On Manga Table

In [255]:
# Create Anime From Manga Table
anime_from_manga = master_anime_table.loc[master_anime_table.source == 'Manga']

# Display Data
anime_from_manga.head()

,anime_id,title,title_english,title_japanese,title_synonyms,type,source,episodes,status,premiered,producer,licensor,studio,genre,score,scored_by,rank
0,11013,Inu x Boku SS,Inu X Boku Secret Service,妖狐×僕SS,Youko x Boku SS,TV,Manga,12,Finished Airing,Winter 2012,"Aniplex, Square Enix, Mainichi Broadcasting Sy...",Sentai Filmworks,David Production,"Comedy, Supernatural, Romance, Shounen",7.63,139250,1274.0
1,2104,Seto no Hanayome,My Bride is a Mermaid,瀬戸の花嫁,The Inland Sea Bride,TV,Manga,26,Finished Airing,Spring 2007,"TV Tokyo, AIC, Square Enix, Sotsu",Funimation,Gonzo,"Comedy, Parody, Romance, School, Shounen",7.89,91206,727.0
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,しゅごキャラ！！どきっ,"Shugo Chara Ninenme, Shugo Chara! Second Year",TV,Manga,51,Finished Airing,Fall 2008,"TV Tokyo, Sotsu",NaN,Satelight,"Comedy, Magic, School, Shoujo",7.55,37129,1508.0
4,12365,Bakuman. 3rd Season,Bakuman.,バクマン。,Bakuman Season 3,TV,Manga,25,Finished Airing,Fall 2012,"NHK, Shueisha",NaN,J.C.Staff,"Comedy, Drama, Romance, Shounen",8.67,107767,50.0
5,6586,Yume-iro Pâtissière,NaN,夢色パティシエール,"Yumeiro Patissiere, YumePati, Dream-Colored Pa...",TV,Manga,50,Finished Airing,Fall 2009,"Yomiuri Telecasting, DAX Production, Shueisha",NaN,"Studio Pierrot, Studio Hibari","Kids, School, Shoujo",8.03,21618,526.0

### User Ratings

In [256]:
# Create Ratings Table
user_ratings_table = animelist_raw.loc[:, ["anime_id","title","title_english","score",
                                           "scored_by","rank"]]

# Display Data
user_ratings_table.head()

,anime_id,title,title_english,score,scored_by,rank
0,11013,Inu x Boku SS,Inu X Boku Secret Service,7.63,139250,1274.0
1,2104,Seto no Hanayome,My Bride is a Mermaid,7.89,91206,727.0
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,7.55,37129,1508.0
3,721,Princess Tutu,Princess Tutu,8.21,36501,307.0
4,12365,Bakuman. 3rd Season,Bakuman.,8.67,107767,50.0